//- Scripts not executed on development
- if ( process.env.NODE_ENV != 'development') {
  //- Google Tag Manager
  noscript
    iframe(src='//www.googletagmanager.com/ns.html?id=GTM-M699XPJ', height='0', width='0', style='display: none; visibility: hidden;')
  //- End Google Tag Manager
- }

.cookies-alert.js-cookies-alert
  .cookies-alert-body
    p
      | The EOS Design System uses cookies to help us learn more about how we can improve the design system.
      br
      a(href='https://suse.eosdesignsystem.com/cookies-policy')
        | Learn more about our cookie policy
  .cookies-alert-buttons
    button.btn.btn-primary.js-cookies-accept
      | Accept
    a.btn.btn-default.change-preference(href='https://suse.eosdesignsystem.com/cookies-policy')
      | Edit preferences
